<%= form_with model: comment, url: [post, comment] do |f| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h3><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being submitted:</h3>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  
  <%= f.submit %>
<% end %>
