<h1><%= @user.name %></h1>

<%= image_tag @user.gravatar_url %>

<dl>
  <% if @user.city && @user.city.length.positive? %>
    <dt>City</dt>
    <dd><%= @user.city %></dd>
  <% end %>
  <% if @user.dish && @user.dish.length.positive? %>
    <dt>Favourite dish</dt>
    <dd><%= @user.dish %></dd>
  <% end %>
</dl>

<%= link_to 'Edit my profile', edit_user_path(@user) if @user == current_user %>

<% case @friendship %>
<% when :friend %>
  You are friends. <%= render partial: 'destroy_friendship_button', locals: {user: @user} %>
<% when :acceptable %>
  <%= render partial: 'answer_friend_request_buttons', locals: {user: @user} %>
<% when :pending %>
  Your request is pending. <%= render partial: 'destroy_friend_request_button', locals: {user: @user} %>
<% when :rejecting %>
  Your request has been rejected.
<% when :invitable %>
  <%= render partial: 'create_friend_request_button', locals: {user: @user} %>
<% end %>

<% unless @user.posts.empty? %>
  <h2>Posts</h2>
  <% @user.posts.each do |post| %>
    <h3><%= post.title %></h3>
    <%= render partial: 'posts/post', locals: { post: } %>
  <% end %>
<% end %>

<% unless @user == current_user %>
  <p><%= link_to "My Profile", current_user %></p>
<% end %>

<p><%= link_to 'All Users', users_path %></p>

<%= render 'common/devise_links' %>
