<h2><%= @user.name %></h2>

<% case @friendship %>
<% when :friend %>
  You are friends. <%= render partial: 'destroy_friendship_button', locals: {user: @user} %>
<% when :acceptable %>
  <%= render partial: 'answer_friend_request_buttons', locals: {user: @user} %>
<% when :pending %>
  Your request is pending. <%= render partial: 'destroy_friend_request_button', locals: {user: @user} %>
<% when :rejecting %>
  Your request has been rejected.
<% when :invitable %>
  <%= render partial: 'create_friend_request_button', locals: {user: @user} %>
<% end %>

<p><%= link_to 'All Users', users_path %></p>

<%= render 'common/devise_links' %>
