<h2>Posts</h2>

<% @posts.each do |post| %>
  <h3><%= post.title %></h3>
  <%= render partial: 'post', locals: { post:,
                                        likes: post.likes,
                                        liked: post.liked_by(current_user.id),
                                        comments: post.sorted_comments } %>
<% end %>

<p><%= link_to "Write a new post", new_post_path %></p>

<p><%= link_to "My Profile", current_user %></p>

<%= render 'common/devise_links' %>