<h2><%= @post.title %></h2>

<p>By <%= link_to @post.user.name, @post.user %></p>

<p><%= @post.content %></p>

<% if @post.user == current_user %>
  <p><%= link_to "Edit this post", edit_post_path %>
  <p><%= button_to "Delete this post", @post, method: :delete %>
<% end %>

<p><%= link_to "Write a new post", new_post_path %></p>

<p><%= link_to "All Posts", Post %></p>

<p><%= link_to "My Profile", current_user %></p>

<%= render 'common/devise_links' %>
