<h2><%= @post.title %></h2>

<%= render partial: 'post', locals: { post: @post } %>

<p><%= link_to "Write a new post", new_post_path %></p>

<p><%= link_to "All Posts", Post %></p>

<p><%= link_to "My Profile", current_user %></p>

<%= render 'common/devise_links' %>
